In [1]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

    ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

    ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

    ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

   ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [3]:
te = TransactionEncoder()
te_aray=te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_aray,columns=te.columns_)
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [5]:
#support with column names 
frequent_itemsets=apriori(df,min_support=0.5,use_colnames=True)
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Pants, Scarf)
5      0.6  (Pants, Skirt)

In [6]:
#Cofindence 
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
3,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf

In [9]:
from math import isnan
d = pd.read_csv('C:/Users/yessm/Downloads/Market_Basket_Optimisation.csv')
d

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
dict = pd.unique(d.values.ravel())
dict

array(['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes',
       'whole weat flour', 'yams', 'cottage cheese', 'energy drink',
       'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad',
       'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie',
       'spinach', 'olive oil', 'burgers', 'meatballs', 'eggs', nan,
       'chutney', 'turkey', 'milk', 'energy bar', 'whole wheat rice',
       'whole wheat pasta', 'french fries', 'soup', 'light cream',
       'shallot', 'frozen vegetables', 'spaghetti', 'pet food', 'cookies',
       'cooking oil', 'champagne', 'chocolate', 'chicken', 'oil',
       'fresh tuna', 'tomatoes', 'black tea', 'extra dark chocolate',
       'protein bar', 'red wine', 'pasta', 'pepper', 'shampoo', 'rice',
       'sparkling water', 'ham', 'body spray', 'pancakes',
       'grated cheese', 'white wine', 'toothpaste', 'parmesan cheese',
       'fresh bread', 'ground beef', 'escalope', 'herb & pepper',
       'tomato sauce', 'magazines', 'strawberries', 'strong cheese',
       'pickles', 'cake', 'hot dogs', 'brownies', 'cereals',
       'clothes accessories', 'bug spray', 'muffins', 'light mayo',
       'gums', 'soda', 'cider', 'corn', 'yogurt cake', 'mint', 'butter',
       'asparagus', 'french wine', 'salt', 'tea', 'barbecue sauce',
       'mayonnaise', 'zucchini', 'carrots', 'mushroom cream sauce',
       'candy bars', 'chili', 'mashed potato', 'nonfat milk',
       'water spray', 'chocolate bread', 'mint green tea', 'eggplant',
       'blueberries', 'bacon', 'fromage blanc', 'gluten free bar',
       'dessert wine', 'flax seed', 'hand protein bar', 'sandwich',
       'babies food', 'melons', 'cauliflower', 'green beans', 'ketchup',
       'bramble', 'burger sauce', 'oatmeal', ' asparagus', 'cream',
       'napkins'], dtype=object)

In [14]:
d.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [15]:
d.replace(np.nan,"hriisa", inplace=True)
d = np.array(d)

In [16]:
df.isnull().sum().sum()

0

In [17]:
te_aray=te.fit(d).transform(d)
df = pd.DataFrame(te_aray,columns=te.columns_)
frequent_itemsets=apriori(df,min_support=0.01,use_colnames=True)
association_rules(frequent_itemsets, metric="confidence",min_threshold=0.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(hriisa),0.020267,1.000000,0.020267,1.000000,1.000000,0.000000,inf
1,(avocado),(hriisa),0.033200,1.000000,0.033200,1.000000,1.000000,0.000000,inf
2,(avocado),(mineral water),0.033200,0.238267,0.011467,0.345382,1.449559,0.003556,1.163629
3,(barbecue sauce),(hriisa),0.010800,1.000000,0.010800,1.000000,1.000000,0.000000,inf
4,(black tea),(hriisa),0.014267,1.000000,0.014267,1.000000,1.000000,0.000000,inf
...,...,...,...,...,...,...,...,...,...
741,"(pancakes, spaghetti, mineral water)",(hriisa),0.011467,1.000000,0.011467,1.000000,1.000000,0.000000,inf
742,"(pancakes, spaghetti, hriisa)",(mineral water),0.025200,0.238267,0.011467,0.455026,1.909736,0.005462,1.397744
743,"(pancakes, mineral water, hriisa)",(spaghetti),0.033733,0.174133,0.011467,0.339921,1.952073,0.005593,1.251163
744,"(pancakes, spaghetti)","(mineral water, hriisa)",0.025200,0.238267,0.011467,0.455026,1.909736,0.005462,1.397744
745,"(pancakes, mineral water)","(spaghetti, hriisa)",0.033733,0.174133,0.011467,0.339921,1.952073,0.005593,1.251163

In [18]:
association_rules(frequent_itemsets, metric="lift",min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(hriisa),0.020267,1.000000,0.020267,1.000000,1.000000,0.000000,inf
1,(hriisa),(almonds),1.000000,0.020267,0.020267,0.020267,1.000000,0.000000,1.000000
2,(avocado),(hriisa),0.033200,1.000000,0.033200,1.000000,1.000000,0.000000,inf
3,(hriisa),(avocado),1.000000,0.033200,0.033200,0.033200,1.000000,0.000000,1.000000
4,(avocado),(mineral water),0.033200,0.238267,0.011467,0.345382,1.449559,0.003556,1.163629
...,...,...,...,...,...,...,...,...,...
1821,"(mineral water, hriisa)","(pancakes, spaghetti)",0.238267,0.025200,0.011467,0.048125,1.909736,0.005462,1.024084
1822,(pancakes),"(spaghetti, mineral water, hriisa)",0.095067,0.059733,0.011467,0.120617,2.019260,0.005788,1.069235
1823,(spaghetti),"(pancakes, mineral water, hriisa)",0.174133,0.033733,0.011467,0.065850,1.952073,0.005593,1.034381
1824,(mineral water),"(pancakes, spaghetti, hriisa)",0.238267,0.025200,0.011467,0.048125,1.909736,0.005462,1.024084
1825,(hriisa),"(pancakes, spaghetti, mineral water)",1.000000,0.011467,0.011467,0.011467,1.000000,0.000000,1.000000